.login_a {
    text-decoration: none;
    margin-left: auto;
    font-size: 30px;
    color: rgb(48, 48, 48);
    margin-top: 23px;
    margin-right: 30px;
}
.login_a:hover {
    transform: scale(1.06);
    transition: .3s ease;
    color: black;
}