.add_family {
    width: 200px;
    height: 150px;
    margin-right: auto;
    position: relative;
    float: left;
    border: 4px solid rgb(214, 214, 214);
    margin: 3rem;
    border-radius: 17px;
}
.add_family:hover{
    transform: scale(1.02);
    transition: .3s ease;
    box-shadow: 0px 0px 60px -20px rgba(0,0,0,0.30);
}
.add_family span {
    height: 6px;
    width: 50%;
    background-color: rgb(136, 136, 136);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.add_family span:nth-child(1) {
    top: 50%;
}
.add_family span:nth-child(2) {
    width: 40%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}
.family{
    width: 300px;
    height: 182px;
    margin-right: auto;
    position: initial;
    float: left;
    border: 4px solid rgb(214, 214, 214);
    margin: 2rem;
    border-radius: 20px;
}
.family a {
    float: left;
    width: 100%;
    height: 100%;
}
.family:hover{
    transform: scale(1.02);
    transition: .3s ease;
    box-shadow: 0px 0px 60px -20px rgba(0,0,0,0.30);
}
.login {
    float: left;
    background-color: #0b57d0;
    width: 200px;
    height: 70px;
    border: 3px solid black;
    border-radius: 15px; 
}
.login a {
    float: left;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 23px;
    padding-top: 18px;
}
.login_div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
}
.add_family_div {
    background-color:  white;
    height: 150px;
    width: 100vw;
    position: fixed;
    bottom: -170px;
    display: flex;
    flex-direction: column;
    transition: .3s ease;
    z-index: 750;
    box-shadow: 0px -8px 38px -11px rgba(0,0,0,0.78);
}
.add_family_div.active {
    bottom: 0;
}
.add_family_div.active.non_active {
    bottom: -170px;
}